<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Data Display</title>
    <script src="static/js/socket.io.js"></script>
    <script src="static/js/jquery-3.1.1.min.js"></script>
    <script src="static/js/highcharts.js"></script>
    <script src="static/js/exporting.js"></script>

    <script type="text/javascript">
        // 连接到 Flask-SocketIO 服务
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // WebSocket 消息监听
        socket.on('attendance_summary_message', function(data) {
            console.log('Attendance Summary:', data);
        });

        socket.on('class_attendance_message', function(data) {
            console.log('Class Attendance:', data);
        });

        socket.on('course_count_message', function(data) {
            console.log('Course Count:', data);
        });

        socket.on('course_attendance_data', function(data) {
            console.log('Course Attendance Data:', data);
        });

        socket.on('student_attendance_data', function(data) {
            console.log('Student Attendance Data:', data);
        });

    </script>
</head>
<body>
    <h1>WebSocket Data Display</h1>


</body>
</html>
