    /* 插入背景图片 */
    body {
        background: url('../img/bg.jpg') no-repeat center center fixed;
        background-size: cover;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }

    /* 使页面中的图表容器适应视口 */
    .chart-container {
        height: 40vh; /* 默认高度 */
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.4);
        padding: 1vw;
        border-radius: 2vw;
    }

    .chart-container-bing {
        height: 40vh; /* 默认高度 */
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.4);
        padding: 1vw;
        border-radius: 2vw;
    }

    /* 标题样式 */
    .page-title {
        font-size: 2vw; /* 动态根据视口宽度调整字体 */
        font-weight: bold;
        margin-bottom: 4vh;
    }

    .section-title {
        font-size: 2vw; /* 动态根据视口宽度调整字体 */
        font-weight: bold;
        margin-bottom: 3vh;
    }

    /* 图表行间距 */
    .chart-row {
        margin-bottom: 4vh;
    }

    /* 饼图每列宽度 */
    .pie-chart-col {
        margin-bottom: 0vh;
    }

    /* 响应式调整 */
    @media (max-width: 768px) {
        .page-title {
            font-size: 5vw; /* 小屏幕时标题更小 */
        }
        .section-title {
            font-size: 4vw;
        }
        .chart-container {
            height: 35vh; /* 小屏幕时增大图表高度 */
        }
    }